@charset "UTF-8";
@media screen and (min-width: 769px), print {
  .mv figure img {
    width: 100%;
    height: auto;
  }
  .sec1_row_w {
    padding: 90px 0;
    position: relative;
  }
  .sec1_row_w_r {
    width: 580px;
  }
  .sec1_row_w_r h4 {
	font-size: 2rem;
    line-height: 3rem;
    width: 500px;
    margin-bottom: 50px;
    font-family: "Noto Sans JP Bold";
  }
  .sec1_row_w_r h4 span {
    color: #ce121b;
  }
  .sec1_row_w_r p {
    font-size: 16px;
    font-family: "Noto Sans JP Regular";
  }
  .sec1_row_w_r p span {
    color: #ce121b;
  }
  .sec1_row_w_r p:not(:first-child) {
    margin-top: 20px;
  }
  .sec1_row_w figure {
    position: absolute;
    right: 0;
    top: 40px;
  }
  .sec2_row_w {
    padding: 70px 0 87px;
  }
  .sec2_row_w_des {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 28px;
    font-family: "Noto Sans JP Regular";
  }
  .sec2_row_w figure {
    width: 100%;
  }
  .sec3_row_w {
    padding: 66px 0 94px;
  }
  .sec3_row_w ul li {
    font-size: 20px;
    line-height: 1.5;
    font-family: "Noto Sans JP Bold";
    color: #003567;
    padding-left: 20px;
    position: relative;
  }
  .sec3_row_w ul li span {
    display: block;
    font-size: 18px;
    font-family: "Noto Sans JP Regular";
  }
  .sec3_row_w ul li:before {
    content: '・';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sec3_row_w ul li:not(:first-child) {
    margin-top: 20px;
  }
  .sec4_row_w {
    padding: 66px 0 94px;
  }
  .sec4_row_w_des {
    font-size: 18px;
    margin-bottom: 28px;
    font-family: "Noto Sans JP Regular";
  }
  .sec4_row_w_gr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec4_row_w_gr .sec4_tb {
    width: 490px;
  }
  .sec4_row_w_gr .sec4_tb table {
    width: 100%;
    border: 1px solid #898989;
    border-collapse: collapse;
  }
  .sec4_row_w_gr .sec4_tb table caption {
    font-size: 20px;
    line-height: 1;
    color: #fff;
    background: #003567;
    text-align: left;
    font-family: "Noto Sans JP Bold";
    padding: 13.5px 14px 13.5px 50px;
  }
  .sec4_row_w_gr .sec4_tb table caption span {
    font-size: 14px;
    line-height: 1;
  }
  .sec4_row_w_gr .sec4_tb table tr {
    border: 1px solid #898989;
  }
  .sec4_row_w_gr .sec4_tb table tr td {
    border: 1px solid #898989;
    font-size: 14px;
    line-height: 1;
    font-family: "Noto Sans JP Regular";
    padding: 8px 10px;
  }
  .sec4_row_w_gr .sec4_tb table tr td em {
    font-style: normal;
    color: #ce121b;
    font-family: "Noto Sans JP Bold";
    font-size: 17px;
    line-height: 1;
  }
  .sec4_row_w_gr .sec4_tb table tr td.c_main {
    font-family: "Noto Sans JP Bold";
    background: #f7f7f7;
    width: 48px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
  }
  .sec4_row_w_gr .sec4_tb table tr td.c_main span {
    width: 18px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .sec4_row_w_gr .sec4_tb table tr td.c_main.pink {
    background: #fcf0d7;
  }
  .sec4_row_w_gr .sec4_tb table tr td.c_main.brown {
    background: #ece5dd;
  }
  .sec4_row_w_gr .sec4_tb table tr td.c_sub {
    color: #ce121b;
    font-family: "Noto Sans JP Bold";
    text-align: center;
    width: 163px;
    vertical-align: middle;
    font-size: 16px;
  }
  .sec4_row_w_gr .sec4_tb.tb_right table caption {
    background: #fba103;
  }
  .sec4_row_w_gr .sec4_tb.tb_right table tr td {
    font-size: 14px;
    line-height: 1;
    padding: 15px 10px;
  }
  .sec4_row_w_gr .sec4_tb.tb_right table tr td.c_main {
    font-size: 18px;
    line-height: 1;
  }
  .sec5_row_w {
    padding: 66px 0 69px;
  }
  .sec5_row_w h4 {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 60px;
    font-family: "Noto Sans JP Bold";
    text-align: center;
  }
  .sec5_row_w h4 span {
    color: #ce121b;
    font-size: 40px;
    line-height: 1;
  }
  .sec5_row_w_tb table {
    width: 100%;
    border: 1px solid #898989;
    border-collapse: collapse;
    margin-bottom: 35px;
  }
  .sec5_row_w_tb table caption {
    font-size: 26px;
    line-height: 1;
    text-align: left;
    font-family: "Noto Sans JP Bold";
    margin-bottom: 20px;
  }
  .sec5_row_w_tb table tr {
    border: 1px solid #898989;
  }
  .sec5_row_w_tb table tr th {
    border: 1px solid #898989;
    font-size: 18px;
    font-family: "Noto Sans JP Bold";
    line-height: 1;
    color: #fff;
    background: #ece5dd;
    padding: 16.5px 10px;
    vertical-align: middle;
  }
  .sec5_row_w_tb table tr th.th_blue {
    background: #003567;
  }
  .sec5_row_w_tb table tr td {
    border: 1px solid #898989;
    height: 71px;
    vertical-align: middle;
    text-align: center;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    width: 309px;
  }
  .sec5_row_w_tb table tr td em {
    font-size: 30px;
    line-height: 1;
    font-style: normal;
  }
  .sec5_row_w_tb table tr td span {
    font-size: 16px;
    line-height: 1;
    display: block;
  }
  .sec5_row_w_tb table tr td.h_main {
    width: 382px;
    font-size: 2rem;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
    color: #040404;
    background: #ece5dd;
  }
  .sec5_row_w_tb table tr td.h_main span {
    display: inline-block;
  }
  .sec5_row_w_tb table tr .red {
    color: #ce121b;
  }
  .sec5_row_w_tb.tb_02 {
    margin-bottom: 80px;
  }
  .sec5_row_w_tb.tb_02 table tr th {
    color: #000;
    font-size: 22px;
    line-height: 1;
  }
  .sec5_row_w_tb.tb_02 table tr th span {
    font-size: 16px;
    line-height: 1.5;
    display: block;
  }
  .sec5_row_w_tb.tb_02 table tr th.pink {
    background: #fcf0d7;
  }
  .sec5_row_w_tb.tb_02 table tr th.brown {
    background: #ece5dd;
  }
  .sec5_row_w_tb.tb_02 table tr td {
    font-size: 30px;
    line-height: 1;
  }
  .sec5_row_w_tb.tb_02 table tr td span {
    font-size: 30px;
    line-height: 1;
    color: #dd0505;
  }
  .sec5_row_w_tb.tb_02 table tr .h_main {
    background: #003567;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
  }
  .sec5_row_w_tb.tb_03 {
    margin-bottom: 80px;
  }
  .sec5_row_w_tb.tb_03 table tr th {
    color: #000;
    font-size: 22px;
    line-height: 1;
  }
  .sec5_row_w_tb.tb_03 table tr th span {
    font-size: 16px;
    line-height: 1.5;
    display: block;
  }
  .sec5_row_w_tb.tb_03 table tr th.pink {
    background: #fcf0d7;
  }
  .sec5_row_w_tb.tb_03 table tr th.brown {
    background: #ece5dd;
  }
  .sec5_row_w_tb.tb_03 table tr .h_main {
    background: #fba103;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
  }
  .sec5_row_w_tb.tb_03 table tr .h_main.head {
    font-size: 26px;
    line-height: 1;
  }
  .sec5_row_w_list {
    padding: 40px 50px;
    border: 1px solid #ccc;
  }
  .sec5_row_w_list h5 {
    font-size: 32px;
    line-height: 1;
    color: #003567;
    font-family: "Noto Sans JP Medium";
    text-align: center;
    margin-bottom: 24px;
  }
  .sec5_row_w_list ul {
    counter-reset: number;
  }
  .sec5_row_w_list ul li {
    font-size: 22px;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
    color: #000;
    padding: 20px 30px 20px 85px;
    position: relative;
    background: #eceff3;
    height: 81px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec5_row_w_list ul li span {
    font-size: 16px;
    line-height: 1.5;
    display: block;
  }
  .sec5_row_w_list ul li:not(:first-child) {
    margin-top: 3px;
  }
  .sec5_row_w_list ul li:before {
    counter-increment: number;
    content: counter(number) ". ";
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 40px;
    font-family: "Noto Sans JP Regular";
  }
  .sec5_row_w_list ul li:nth-child(even) {
    background: #ced8e0;
  }
  .sec6_row_w {
    padding: 66px 0 69px;
  }
  .sec6_row_w ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    counter-reset: step;
  }
  .sec6_row_w ul li {
    width: 490px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec6_row_w ul li figure {
    width: 180px;
    height: 180px;
    -moz-border-radius: 100%;
         border-radius: 100%;
    background: #003567;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 20px;
  }
  .sec6_row_w ul li dl {
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: calc(100% - 200px);
    padding-right: 50px;
    position: relative;
  }
  .sec6_row_w ul li dl dt {
    font-size: 20px;
    line-height: 1;
    color: #003567;
    font-family: "Noto Sans JP Medium";
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
  .sec6_row_w ul li dl dt:before {
    counter-increment: step;
    content: "STEP" counter(step);
    width: 70px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
    height: 54px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #003567;
    color: #fff;
    margin-right: 11px;
    font-size: 18px;
    line-height: 1;
  }
  .sec6_row_w ul li dl dd {
    font-size: 16px;
    font-family: "Noto Sans JP Regular";
  }
  .sec6_row_w ul li dl:after {
    content: '';
    width: 21px;
    height: 35px;
    background: url("../images/arrow_tt.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sec6_row_w ul li:not(:nth-child(-1n+2)) {
    margin-top: 40px;
  }
  .sec6_row_w ul li.yellow figure {
    background: #fba103;
  }
  .sec6_row_w ul li.yellow dl dt:before {
    background: #fba103;
  }
  .sec7_row_w {
    padding: 66px 0 69px;
  }
  .sec7_row_w dl {
    position: relative;
  }
  .sec7_row_w dl dt {
    background: #003567;
    height: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 5px solid #003567;
    padding-left: 180px;
    -moz-border-radius-topleft: 5px;
         border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
         border-top-right-radius: 5px;
    position: relative;
  }
  .sec7_row_w dl dt:after {
    content: '';
    width: 366px;
    height: 53px;
    background: url("../images/tt_box.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 100px;
  }
  .sec7_row_w dl dt span {
    font-size: 17px;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    color: #003567;
    background: #fff;
    padding: 6.5px 15px;
    -moz-border-radius: 5px;
         border-radius: 5px;
  }
  .sec7_row_w dl dd {
    border: 5px solid #003567;
    border-top: none;
    padding-left: 180px;
    -moz-border-radius-bottomleft: 5px;
         border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
         border-bottom-right-radius: 5px;
    padding: 15px 24px 15px 205px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec7_row_w dl dd .sec7_box {
    width: 360px;
  }
  .sec7_row_w dl dd .sec7_box p {
    font-size: 16px;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    margin-bottom: 9px;
  }
  .sec7_row_w dl dd .sec7_box .phone a {
    font-size: 50px;
    line-height: 0.8;
    color: #ce121b;
    font-family: "Noto Sans JP Black";
    display: block;
    margin-bottom: 8px;
  }
  .sec7_row_w dl dd .sec7_box .phone span {
    font-size: 14px;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    background: #fff9e6;
    display: block;
    text-align: center;
    padding: 5px;
  }
  .sec7_row_w dl dd .sec7_box .btn {
    position: relative;
  }
  .sec7_row_w dl dd .sec7_box .btn a {
    display: block;
    background: #ce121b;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    text-align: center;
    font-family: "Noto Sans JP Bold";
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 62px;
    width: 100%;
    -moz-border-radius: 5px;
         border-radius: 5px;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -moz-transition: transform .3s ease, -moz-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease;
  }
  .sec7_row_w dl dd .sec7_box .btn a:after {
    content: '';
    width: 17px;
    height: 17px;
    background: url("../images/ic_btn.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    margin-left: 29px;
  }
  .sec7_row_w dl dd .sec7_box .btn:after {
    content: "";
    background: #b03a06;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: -1;
    -moz-border-radius: 5px;
         border-radius: 5px;
  }
  .sec7_row_w dl dd .sec7_box .btn:hover a {
    -webkit-transform: translateY(4px);
       -moz-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
  }
  .sec7_row_w dl:before {
    content: '';
    width: 168px;
    height: 188px;
    background: url("../images/thumb_box.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .mv figure img {
    width: 100%;
    height: auto;
  }
  .sec1_row_w {
    padding: 5.20833vw 0;
    position: relative;
  }
  .sec1_row_w_r {
    margin-bottom: 6.51042vw;
  }
  .sec1_row_w_r h4 {
    font-size: 5.20833vw;
    line-height: 1.5;
    margin-bottom: 6.51042vw;
    font-family: "Noto Sans JP Bold";
  }
  .sec1_row_w_r h4 span {
    color: #ce121b;
  }
  .sec1_row_w_r p {
    font-size: 3.38542vw;
    line-height: 1.5;
    font-family: "Noto Sans JP Regular";
  }
  .sec1_row_w_r p span {
    color: #ce121b;
  }
  .sec1_row_w_r p:not(:first-child) {
    margin-top: 3.90625vw;
  }
  .sec1_row_w figure {
    text-align: center;
  }
  .sec1_row_w figure img {
    width: 62.63021vw;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .sec2_row_w {
    padding: 5.20833vw 0;
  }
  .sec2_row_w_des {
    font-size: 3.38542vw;
    line-height: 1.5;
    margin-bottom: 5.20833vw;
    font-family: "Noto Sans JP Regular";
  }
  .sec2_row_w figure {
    width: 100%;
  }
  .sec2_row_w figure img {
    width: 100%;
    height: auto;
  }
  .sec3_row_w {
    padding: 5.20833vw 0;
  }
  .sec3_row_w ul li {
    font-size: 4.42708vw;
    line-height: 1.5;
    font-family: "Noto Sans JP Bold";
    color: #003567;
    padding-left: 3.90625vw;
    position: relative;
  }
  .sec3_row_w ul li span {
    display: block;
    font-size: 3.64583vw;
    font-family: "Noto Sans JP Regular";
  }
  .sec3_row_w ul li:before {
    content: '・';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sec3_row_w ul li:not(:first-child) {
    margin-top: 2.60417vw;
  }
  .sec4_row_w {
    padding: 5.20833vw 0;
  }
  .sec4_row_w_des {
    font-size: 3.38542vw;
    line-height: 1.5;
    margin-bottom: 5.20833vw;
    font-family: "Noto Sans JP Regular";
  }
  .sec4_row_w_gr .sec4_tb {
    overflow-x: scroll;
    margin-bottom: 5.20833vw;
  }
  .sec4_row_w_gr .sec4_tb table {
    width: 130.20833vw;
    border: 1px solid #898989;
    border-collapse: collapse;
  }
  .sec4_row_w_gr .sec4_tb table caption {
    font-size: 4.29688vw;
    line-height: 1;
    color: #fff;
    background: #003567;
    text-align: left;
    font-family: "Noto Sans JP Bold";
    padding: 3.90625vw 3.90625vw 3.90625vw 13.02083vw;
  }
  .sec4_row_w_gr .sec4_tb table caption span {
    font-size: 3.125vw;
    line-height: 1;
  }
  .sec4_row_w_gr .sec4_tb table tr {
    border: 1px solid #898989;
  }
  .sec4_row_w_gr .sec4_tb table tr td {
    border: 1px solid #898989;
    font-size: 3.125vw;
    line-height: 1;
    font-family: "Noto Sans JP Regular";
    padding: 2.60417vw 2.60417vw;
  }
  .sec4_row_w_gr .sec4_tb table tr td em {
    font-style: normal;
    color: #ce121b;
    font-family: "Noto Sans JP Bold";
    font-size: 3.51563vw;
    line-height: 1;
  }
  .sec4_row_w_gr .sec4_tb table tr td.c_main {
    font-family: "Noto Sans JP Bold";
    background: #f7f7f7;
    width: 13.02083vw;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 3.64583vw;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
  }
  .sec4_row_w_gr .sec4_tb table tr td.c_main span {
    width: 4.6875vw;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .sec4_row_w_gr .sec4_tb table tr td.c_main.pink {
    background: #fcf0d7;
  }
  .sec4_row_w_gr .sec4_tb table tr td.c_main.brown {
    background: #ece5dd;
  }
  .sec4_row_w_gr .sec4_tb table tr td.c_sub {
    color: #ce121b;
    font-family: "Noto Sans JP Bold";
    text-align: center;
    width: 42.44792vw;
    vertical-align: middle;
    font-size: 3.64583vw;
  }
  .sec4_row_w_gr .sec4_tb.tb_right table caption {
    background: #fba103;
  }
  .sec4_row_w_gr .sec4_tb.tb_right table tr td {
    font-size: 3.51563vw;
    line-height: 1;
    padding: 3.90625vw 2.60417vw;
  }
  .sec4_row_w_gr .sec4_tb.tb_right table tr td.c_main {
    font-size: 3.64583vw;
    line-height: 1;
  }
  .sec5_row_w {
    padding: 5.20833vw 0;
  }
  .sec5_row_w h4 {
    font-size: 5.20833vw;
    line-height: 1;
    margin-bottom: 7.8125vw;
    font-family: "Noto Sans JP Bold";
    text-align: center;
  }
  .sec5_row_w h4 span {
    color: #ce121b;
    font-size: 6.51042vw;
    line-height: 1;
  }
  .sec5_row_w_tb {
    overflow-x: scroll;
  }
  .sec5_row_w_tb table {
    width: 195.3125vw;
    border: 1px solid #898989;
    border-collapse: collapse;
    margin-bottom: 5.20833vw;
  }
  .sec5_row_w_tb table caption {
    font-size: 4.6875vw;
    line-height: 1;
    text-align: left;
    font-family: "Noto Sans JP Bold";
    margin-bottom: 3.90625vw;
  }
  .sec5_row_w_tb table tr {
    border: 1px solid #898989;
  }
  .sec5_row_w_tb table tr th {
    border: 1px solid #898989;
    font-size: 3.64583vw;
    font-family: "Noto Sans JP Bold";
    line-height: 1;
    color: #fff;
    background: #ece5dd;
    padding: 3.90625vw 2.60417vw;
    vertical-align: middle;
  }
  .sec5_row_w_tb table tr th.th_blue {
    background: #003567;
  }
  .sec5_row_w_tb table tr td {
    border: 1px solid #898989;
    height: 15.625vw;
    vertical-align: middle;
    text-align: center;
    font-size: 4.16667vw;
    line-height: 1;
    font-weight: bold;
    width: 80.72917vw;
  }
  .sec5_row_w_tb table tr td em {
    font-size: 5.20833vw;
    line-height: 1;
    font-style: normal;
  }
  .sec5_row_w_tb table tr td span {
    font-size: 3.38542vw;
    line-height: 1;
    display: block;
  }
  .sec5_row_w_tb table tr td.h_main {
    width: 99.47917vw;
    font-size: 3.90625vw;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
    color: #040404;
    background: #ece5dd;
  }
  .sec5_row_w_tb table tr td.h_main span {
    display: inline-block;
  }
  .sec5_row_w_tb table tr .red {
    color: #ce121b;
  }
  .sec5_row_w_tb.tb_02 {
    margin-bottom: 10.41667vw;
  }
  .sec5_row_w_tb.tb_02 table tr th {
    color: #000;
    font-size: 4.16667vw;
    line-height: 1;
  }
  .sec5_row_w_tb.tb_02 table tr th span {
    font-size: 3.38542vw;
    line-height: 1.5;
    display: block;
  }
  .sec5_row_w_tb.tb_02 table tr th.pink {
    background: #fcf0d7;
  }
  .sec5_row_w_tb.tb_02 table tr th.brown {
    background: #ece5dd;
  }
  .sec5_row_w_tb.tb_02 table tr td {
    font-size: 5.20833vw;
    line-height: 1;
  }
  .sec5_row_w_tb.tb_02 table tr td span {
    font-size: 5.20833vw;
    line-height: 1;
    color: #dd0505;
  }
  .sec5_row_w_tb.tb_02 table tr .h_main {
    background: #003567;
    color: #fff;
    font-size: 3.90625vw;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
  }
  .sec5_row_w_tb.tb_03 {
    margin-bottom: 10.41667vw;
  }
  .sec5_row_w_tb.tb_03 table tr th {
    color: #000;
    font-size: 4.16667vw;
    line-height: 1;
  }
  .sec5_row_w_tb.tb_03 table tr th span {
    font-size: 3.38542vw;
    line-height: 1.5;
    display: block;
  }
  .sec5_row_w_tb.tb_03 table tr th.pink {
    background: #fcf0d7;
  }
  .sec5_row_w_tb.tb_03 table tr th.brown {
    background: #ece5dd;
  }
  .sec5_row_w_tb.tb_03 table tr .h_main {
    background: #fba103;
    color: #fff;
    font-size: 3.90625vw;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
  }
  .sec5_row_w_tb.tb_03 table tr .h_main.head {
    font-size: 4.6875vw;
    line-height: 1;
  }
  .sec5_row_w_list {
    padding: 5.20833vw 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .sec5_row_w_list h5 {
    font-size: 5.46875vw;
    line-height: 1;
    color: #003567;
    font-family: "Noto Sans JP Medium";
    text-align: center;
    margin-bottom: 5.20833vw;
  }
  .sec5_row_w_list ul {
    counter-reset: number;
  }
  .sec5_row_w_list ul li {
    font-size: 4.16667vw;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
    color: #000;
    padding: 3.90625vw 5.20833vw 3.90625vw 11.06771vw;
    position: relative;
    background: #eceff3;
    height: 20.83333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec5_row_w_list ul li span {
    font-size: 3.38542vw;
    line-height: 1.5;
    display: block;
  }
  .sec5_row_w_list ul li:not(:first-child) {
    margin-top: 0.78125vw;
  }
  .sec5_row_w_list ul li:before {
    counter-increment: number;
    content: counter(number) ". ";
    position: absolute;
    top: 50%;
    left: 3.90625vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 6.51042vw;
    font-family: "Noto Sans JP Regular";
  }
  .sec5_row_w_list ul li:nth-child(even) {
    background: #ced8e0;
  }
  .sec6_row_w {
    padding: 5.20833vw 0;
  }
  .sec6_row_w ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    counter-reset: step;
  }
  .sec6_row_w ul li {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec6_row_w ul li figure {
    width: 23.4375vw;
    height: 23.4375vw;
    -moz-border-radius: 100%;
         border-radius: 100%;
    background: #003567;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 3.90625vw;
  }
  .sec6_row_w ul li dl {
    width: -webkit-calc(100% - 27.34375vw);
    width: -moz-calc(100% - 27.34375vw);
    width: calc(100% - 27.34375vw);
    padding-right: 9.11458vw;
    position: relative;
  }
  .sec6_row_w ul li dl dt {
    font-size: 3.90625vw;
    line-height: 1;
    color: #003567;
    font-family: "Noto Sans JP Medium";
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.95313vw;
  }
  .sec6_row_w ul li dl dt:before {
    counter-increment: step;
    content: "STEP" counter(step);
    width: 18.22917vw;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 18.22917vw;
       -moz-box-flex: 0;
        -ms-flex: 0 0 18.22917vw;
            flex: 0 0 18.22917vw;
    height: 7.03125vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #003567;
    color: #fff;
    margin-right: 1.43229vw;
    font-size: 3.64583vw;
    line-height: 1;
  }
  .sec6_row_w ul li dl dd {
    font-size: 3.38542vw;
    line-height: 1.5;
    font-family: "Noto Sans JP Regular";
  }
  .sec6_row_w ul li dl:after {
    content: '';
    width: 5.46875vw;
    height: 9.11458vw;
    background: url("../images/arrow_tt.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sec6_row_w ul li:not(:first-child) {
    margin-top: 5.20833vw;
  }
  .sec6_row_w ul li.yellow figure {
    background: #fba103;
  }
  .sec6_row_w ul li.yellow dl dt:before {
    background: #fba103;
  }
  .sec6_row_w ul li:first-child figure img {
    width: 9.63542vw;
    height: auto;
  }
  .sec6_row_w ul li:nth-child(2) figure img {
    width: 9.76563vw;
    height: auto;
  }
  .sec6_row_w ul li:nth-child(3) figure img {
    width: 8.07292vw;
    height: auto;
  }
  .sec6_row_w ul li:nth-child(4) figure img {
    width: 10.54688vw;
    height: auto;
  }
  .sec6_row_w ul li:nth-child(5) figure img {
    width: 10.41667vw;
    height: auto;
  }
  .sec6_row_w ul li:nth-child(6) figure img {
    width: 8.59375vw;
    height: auto;
  }
  .sec7_row_w {
    padding: 5.20833vw 0;
  }
  .sec7_row_w dl {
    position: relative;
  }
  .sec7_row_w dl dt {
    background: #003567;
    height: 11.71875vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 0.65104vw solid #003567;
    -moz-border-radius-topleft: 0.65104vw;
         border-top-left-radius: 0.65104vw;
    -moz-border-radius-topright: 0.65104vw;
         border-top-right-radius: 0.65104vw;
    position: relative;
  }
  .sec7_row_w dl dt span {
    font-size: 3.51563vw;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    color: #003567;
    background: #fff;
    padding: 1.30208vw 1.95313vw;
    -moz-border-radius: 0.65104vw;
         border-radius: 0.65104vw;
  }
  .sec7_row_w dl dd {
    border: 0.65104vw solid #003567;
    border-top: none;
    -moz-border-radius-bottomleft: 0.65104vw;
         border-bottom-left-radius: 0.65104vw;
    -moz-border-radius-bottomright: 0.65104vw;
         border-bottom-right-radius: 0.65104vw;
    padding: 5.20833vw 3.25521vw;
    text-align: center;
  }
  .sec7_row_w dl dd .sec7_box p {
    font-size: 3.38542vw;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    margin-bottom: 2.60417vw;
  }
  .sec7_row_w dl dd .sec7_box .phone a {
    font-size: 8.07292vw;
    line-height: 0.8;
    color: #ce121b;
    font-family: "Noto Sans JP Black";
    display: block;
    margin-bottom: 1.95313vw;
  }
  .sec7_row_w dl dd .sec7_box .phone span {
    font-size: 3.125vw;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    background: #fff9e6;
    display: block;
    text-align: center;
    padding: 1.30208vw;
  }
  .sec7_row_w dl dd .sec7_box .btn {
    position: relative;
  }
  .sec7_row_w dl dd .sec7_box .btn a {
    display: block;
    background: #ce121b;
    font-size: 4.42708vw;
    line-height: 1;
    color: #fff;
    text-align: center;
    font-family: "Noto Sans JP Bold";
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 13.02083vw;
    width: 100%;
    -moz-border-radius: 0.65104vw;
         border-radius: 0.65104vw;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -moz-transition: transform .3s ease, -moz-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease;
  }
  .sec7_row_w dl dd .sec7_box .btn a:after {
    content: '';
    width: 4.42708vw;
    height: 4.42708vw;
    background: url("../images/ic_btn.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    margin-left: 3.90625vw;
  }
  .sec7_row_w dl dd .sec7_box .btn:after {
    content: "";
    background: #b03a06;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1.04167vw;
    left: 0;
    z-index: -1;
    -moz-border-radius: 0.65104vw;
         border-radius: 0.65104vw;
  }
  .sec7_row_w dl dd .sec7_box .btn:hover a {
    -webkit-transform: translateY(1.04167vw);
       -moz-transform: translateY(1.04167vw);
        -ms-transform: translateY(1.04167vw);
            transform: translateY(1.04167vw);
  }
  .sec7_row_w dl dd .sec7_box.box_l {
    margin-bottom: 5.20833vw;
  }
}
