@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans JP DemiLight';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK JP DemiLight"), url("//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2") format("woff2"), url("//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff") format("woff"), url("//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans JP Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP Regular"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2") format("woff2"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff") format("woff"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans JP Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans CJK JP Medium"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2") format("woff2"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff") format("woff"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans JP Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK JP Bold"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff2") format("woff2"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff") format("woff"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans JP Black';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans CJK JP Black"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff2") format("woff2"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff") format("woff"), url("//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.otf") format("opentype");
}

body {
  -moz-font-feature-settings: "palt";
       font-feature-settings: "palt";
}

html {
  font-size: 10px !important;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  font-family: "メイリオ", Meiryo,"游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #ce121b;
  text-decoration: none;
  /*

  filter: alpha(opacity=80);

  -ms-filter: "alpha(opacity=80)";

  opacity: .80;

*/
}

a:hover {
  text-decoration: none;
}

a:hover,
a:hover img,
.img_hover:hover {
  /*

  filter: alpha(opacity=80);

  -ms-filter: "alpha(opacity=80)";

  opacity: .80;

*/
}

img {
  vertical-align: bottom;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav, picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

figure, picture {
  font-size: 0;
}

picture {
  display: block;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.df {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flw {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.jc_sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc_c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ai_c {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px), print {
  .header {
    background: #fff;
    padding: 0 30px;
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
         box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
  }
  .header .hd_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hd_top .hd_logo {
    line-height: 0;
  }
  .header .hd_top .hd_logo img {
    width: 198px;
    height: auto;
  }
  .header .hd_top .nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 23px 0;
  }
  .header .hd_top .nav ul li {
    margin: 0 16px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hd_top .nav ul li a {
    font-size: 1.4rem;
    line-height: 1;
    color: #000;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    display: block;
    font-family: "Noto Sans JP Regular";
    width: 100%;
    padding: 14px 0;
    z-index: 1;
  }
  .header .hd_top .nav ul li a:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
         border-radius: 50%;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 5%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0) scale(0);
       -moz-transform: translate3d(0, 50px, 0) scale(0);
            transform: translate3d(0, 50px, 0) scale(0);
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .6s;
       -moz-transition-duration: .6s;
            transition-duration: .6s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
       -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    z-index: -1;
  }
  .header .hd_top .nav ul li a:hover {
    opacity: 1;
  }
  .header .hd_top .nav ul li a:hover:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 10px, 0) scale(1);
       -moz-transform: translate3d(0, 10px, 0) scale(1);
            transform: translate3d(0, 10px, 0) scale(1);
  }
  .header .hd_top .nav ul li a.btn {
    width: 142px;
    background: #ce121b;
    color: #fff;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease;
  }
  .header .hd_top .nav ul li a.btn:hover {
    background: #000;
  }
  .header .hd_top .nav ul li a.btn:hover:after {
    display: none;
  }
  .header .hd_top .nav ul li.has_child span {
    width: 15px;
    height: 6px;
    background: url("../images/ic_sub.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    margin-left: 8px;
  }
  .header.fixed {
    padding: 0 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 199;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    min-width: 1200px;
  }
  .footer_top {
    background: #2e2a2a;
    padding: 55px 0;
  }
  .footer_top_i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_top_i_l {
    width: 415px;
  }
  .footer_top_i_l h2 {
    margin-bottom: 36px;
  }
  .footer_top_i_l h2 a {
    display: block;
  }
  .footer_top_i_l h2 a img {
    width: 275px;
    height: auto;
  }
  .footer_top_i_l p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: "Noto Sans JP Regular";
    color: #fff;
  }
  .footer_top_i_l .btn_ft {
    margin-top: 28px;
  }
  .footer_top_i_l .btn_ft a {
    display: block;
    width: 224px;
    font-size: 1.6rem;
    color: #000;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    background: #fff;
    -moz-border-radius: 5px;
         border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background .3s ease, color .3s ease;
    -moz-transition: background .3s ease, color .3s ease;
    transition: background .3s ease, color .3s ease;
  }
  .footer_top_i_l .btn_ft a:before {
    content: '';
    width: 13px;
    height: 13px;
    background: url("../images/ic_list.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    margin-right: 12px;
    margin-top: 2px;
  }
  .footer_top_i_l .btn_ft a:hover {
    background: #000;
    color: #fff;
  }
  .footer_top_i_r {
    width: -webkit-calc(100% - 415px);
    width: -moz-calc(100% - 415px);
    width: calc(100% - 415px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_top_i_r ul {
    width: 255px;
  }
  .footer_top_i_r ul li a {
    padding-left: 20px;
    color: #fff;
    font-family: "Noto Sans JP Regular";
    display: block;
    position: relative;
    font-size: 1.4rem;
    line-height: 3.4rem;
  }
  .footer_top_i_r ul li a:before {
    content: '';
    width: 13px;
    height: 13px;
    background: url("../images/ic_list_new.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 0;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -moz-transition: transform .3s ease, -moz-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease;
  }
  .footer_top_i_r ul li a:hover:before {
    -webkit-transform: translateX(3px);
       -moz-transform: translateX(3px);
        -ms-transform: translateX(3px);
            transform: translateX(3px);
  }
  .footer .copyright {
    background: #ce121b;
    text-align: center;
    padding: 14.5px 0;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
  }
  .top {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    position: fixed;
    right: 20px;
    bottom: 50px;
  }
  .top img {
    -moz-box-shadow: 0 0 3px #000;
         box-shadow: 0 0 3px #000;
    -moz-border-radius: 100%;
         border-radius: 100%;
  }
  .top.active {
    opacity: 1;
    visibility: visible;
  }
  .show_sp {
    display: none !important;
  }
  .row {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
  }
  .container {
    min-width: 1000px;
    overflow: hidden;
  }
  .tt_sec {
    font-size: 3.6rem;
    line-height: 1;
    color: #fff;
    padding: 28px 0 22px;
    text-align: center;
    background: #da131d;
    font-weight: bold;
    position: relative;
    border-bottom: 4px solid #a72d03;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background: #fff;
    padding: 5.20833vw 3.90625vw;
  }
  .header .hd_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hd_top .hd_logo {
    display: block;
    line-height: 0;
  }
  .header .hd_top .hd_logo img {
    width: 51.5625vw;
    height: auto;
  }
  .header .hd_top .menu.open .icon_menu .icon_inner {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, 2.34375vw, 0) rotate(135deg);
       -moz-transform: translate3d(0, 2.34375vw, 0) rotate(135deg);
            transform: translate3d(0, 2.34375vw, 0) rotate(135deg);
  }
  .header .hd_top .menu.open .icon_menu .icon_inner::before {
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 0;
  }
  .header .hd_top .menu.open .icon_menu .icon_inner::after {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, -4.6875vw, 0) rotate(-270deg);
       -moz-transform: translate3d(0, -4.6875vw, 0) rotate(-270deg);
            transform: translate3d(0, -4.6875vw, 0) rotate(-270deg);
  }
  .header .hd_top .menu .icon_menu {
    position: relative;
    width: 7.03125vw;
    height: 5.20833vw;
    cursor: pointer;
  }
  .header .hd_top .menu .icon_menu .icon_inner, .header .hd_top .menu .icon_menu .icon_inner::before, .header .hd_top .menu .icon_menu .icon_inner::after {
    position: absolute;
    width: 100%;
    height: 0.52083vw;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .1s;
       -moz-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    background: #da131d;
  }
  .header .hd_top .menu .icon_menu .icon_inner {
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
       -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-duration: .4s;
       -moz-transition-duration: .4s;
            transition-duration: .4s;
    display: block;
    top: 0;
    left: 0;
  }
  .header .hd_top .menu .icon_menu .icon_inner::before, .header .hd_top .menu .icon_menu .icon_inner::after {
    content: "";
    display: block;
  }
  .header .hd_top .menu .icon_menu .icon_inner::before {
    top: 2.34375vw;
    -webkit-transition: opacity .15s ease .4s;
    -moz-transition: opacity .15s ease .4s;
    transition: opacity .15s ease .4s;
  }
  .header .hd_top .menu .icon_menu .icon_inner::after {
    top: 4.6875vw;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .header .hd_top .nav {
    position: absolute;
    left: 0;
    z-index: 999;
    width: 100%;
    overflow: scroll;
    visibility: visible;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    background: #da131d;
    overflow: scroll;
    opacity: 0;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header .hd_top .nav.open {
    opacity: 1;
    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
            backface-visibility: visible;
    visibility: visible;
  }
  .header .hd_top .nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .header .hd_top .nav ul li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }
  .header .hd_top .nav ul li a {
    font-size: 3.90625vw;
    line-height: 1;
    color: #fff;
    display: block;
    text-align: center;
    padding: 5.20833vw 0;
  }
  .header .hd_top .nav ul li:not(:last-child) a {
    border-bottom: 1px solid #fff;
  }
  .header.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }
  .footer_top {
    background: #2e2a2a;
    padding: 7.16146vw 0;
  }
  .footer_top_i_l {
    margin-bottom: 6.51042vw;
  }
  .footer_top_i_l h2 {
    margin-bottom: 5.20833vw;
  }
  .footer_top_i_l h2 a {
    display: block;
  }
  .footer_top_i_l h2 a img {
    width: 71.61458vw;
    height: auto;
  }
  .footer_top_i_l p {
    font-size: 3.125vw;
    line-height: 1.5;
    font-family: "Noto Sans JP Regular";
    color: #fff;
  }
  .footer_top_i_l .btn_ft {
    margin-top: 5.20833vw;
  }
  .footer_top_i_l .btn_ft a {
    display: block;
    font-size: 3.38542vw;
    color: #000;
    width: 52.08333vw;
    line-height: 1;
    font-family: "Noto Sans JP Bold";
    background: #fff;
    -moz-border-radius: 0.65104vw;
         border-radius: 0.65104vw;
    padding: 2.60417vw 3.90625vw;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background .3s ease, color .3s ease;
    -moz-transition: background .3s ease, color .3s ease;
    transition: background .3s ease, color .3s ease;
  }
  .footer_top_i_l .btn_ft a:before {
    content: '';
    width: 3.38542vw;
    height: 3.38542vw;
    background: url("../images/ic_list.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    margin-right: 2.60417vw;
    margin-top: 0.26042vw;
  }
  .footer_top_i_r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_top_i_r ul li a {
    padding-left: 5.20833vw;
    color: #fff;
    font-family: "Noto Sans JP Regular";
    display: block;
    position: relative;
    font-size: 3.125vw;
    line-height: 2;
  }
  .footer_top_i_r ul li a:before {
    content: '';
    width: 3.38542vw;
    height: 3.38542vw;
    background: url("../images/ic_list.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    position: absolute;
    top: 1.5625vw;
    left: 0;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -moz-transition: transform .3s ease, -moz-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease;
  }
  .footer .copyright {
    background: #ce121b;
    text-align: center;
    padding: 2.60417vw 0;
    color: #fff;
    font-size: 2.73438vw;
    line-height: 1;
    font-family: "Noto Sans JP Medium";
  }
  .show_pc {
    display: none !important;
  }
  .row {
    padding: 0 3.90625vw;
  }
  .tt_sec {
    font-size: 5.98958vw;
    line-height: 1.2;
    color: #fff;
    padding: 4.6875vw 0 3.90625vw;
    text-align: center;
    background: #da131d;
    font-weight: bold;
    position: relative;
    border-bottom: 1.04167vw solid #a72d03;
  }
}

.effect {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.delay_03 {
  -webkit-transition: all 1s ease 0.3s;
  -moz-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
}

.delay_06 {
  -webkit-transition: all 1s ease 0.6s;
  -moz-transition: all 1s ease 0.6s;
  transition: all 1s ease 0.6s;
}

.delay_09 {
  -webkit-transition: all 1s ease 0.9s;
  -moz-transition: all 1s ease 0.9s;
  transition: all 1s ease 0.9s;
}

.delay_12 {
  -webkit-transition: all 1s ease 1.2s;
  -moz-transition: all 1s ease 1.2s;
  transition: all 1s ease 1.2s;
}

.delay_15 {
  -webkit-transition: all 1s ease 1.5s;
  -moz-transition: all 1s ease 1.5s;
  transition: all 1s ease 1.5s;
}

.fadeIn {
  opacity: 0;
}

.fadeIn.active {
  opacity: 1;
}

.slideUp {
  -webkit-transform: translate3d(0, 100px, 0);
     -moz-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
  opacity: 0;
}

.slideUp.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideToRight {
  -webkit-transform: translate3d(-100px, 0, 0);
     -moz-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
  opacity: 0;
}

.slideToRight.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideToLeft {
  -webkit-transform: translate3d(100px, 0, 0);
     -moz-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
  opacity: 0;
}

.slideToLeft.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.maskToRight {
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  overflow: hidden;
}

.maskToRight::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background: #fff;
  -webkit-transition: all 0.8s linear 0.6s;
  -moz-transition: all 0.8s linear 0.6s;
  transition: all 0.8s linear 0.6s;
  z-index: 2;
}

.maskToRight.active::before {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.waveText {
  display: inline-block;
  will-change: transform;
  -webkit-animation-name: waveText;
     -moz-animation-name: waveText;
          animation-name: waveText;
  -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
     -moz-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
